******** Now your result ********
<h3>Your grid: <%= @grid %></h3>
<h3>Your word: <%= @word %></h3>
<h3>Time taken to answer: <%= @results[:time] %></h3>
<h3>Translation: <%= @results[:translation] %> </h3>
<h3>Your score: <%= @results[:score] %></h3>
<h3>Message: <%= @results [:message] %></h3>

*****************************************************

<%= link_to "Play a new game", root_path %>
